[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=firstlogin
Comment=Setup the team environment
Exec=firstLogin.sh
StartupNotify=false
Terminal=false
Hidden=false
